<po-page-login
  [p-product-name]="productName"
  (p-login-submit)="onLoginSubmit($event)"
>
<!-- p-authentication-type="PoPageLoginAuthenticationType"
p-authentication-url="string"
p-blocked-url="string"
p-contact-email="string"
p-custom-field="string | PoPageLoginCustomField"
p-environment="string"
p-exceeded-attempts-warning="number"
p-hide-label-status="boolean"
p-hide-password-peek="boolean"
p-hide-remember-user="boolean"
(p-language-change)="EventEmitter"
p-languages="Array<PoLanguage>"
p-literals="PoPageLoginLiterals"
p-loading="boolean"
p-login="string"
p-login-errors="string[]"
p-login-pattern="string"
(p-login-submit)="EventEmitter"
p-logo="string"
p-no-autocomplete-login="boolean"
p-no-autocomplete-password="boolean"
(p-password-change)="EventEmitter"
p-password-errors="string[]"
p-password-pattern="string"
p-recovery="string | Function | PoPageLoginRecovery"
p-register-url="string"
p-secondary-logo="string"
p-support="string | Function"  -->
</po-page-login>
